* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gravity-Regular", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 40px 10px;
    width: 100%;
}

.global-nav {
    list-style: none;
    position: relative;
    left: 18%;
}

.global-nav ul li {
    display: inline-block;
    padding: 15px 20px;
    transition: all 0.3s ease-in;
}

.global-nav a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    
}

.global-nav ul li:hover {
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.08);
}

#contact-me {
    margin-left: 32rem;
}

.home-image {
    background-image: url("../images/ruzgar-image.JPG");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-title-div {
    position: absolute;
    top: 45%;
    left: 30%;
}

.home-title {
    color: white;
    font-weight: 500;
    letter-spacing: 19px;
    
}

.home-subtitle {
    color: white;
    letter-spacing: 10px;
}

@media only screen and (max-width: 1500px) {

    #contact-me {
        margin-left: 25rem;
    }
}

@media only screen and (max-width: 1300px) {

    #contact-me {
        margin-left: 18rem;
    }

    .home-title-div {
        position: absolute;
        top: 45%;
        left: 25%;
        
    }
}