* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gravity-Regular", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 40px 10px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.header-scroll {
    padding: 0px 10px;
    background-color: white;
}

.global-nav {
    list-style: none;
    position: relative;
    left: 15%;
}

.global-nav ul {
    margin: 0;
    padding: 0;
}

.dropdown {
    display: inline-block;
}

.dropdown div {
    display: inline-block;
}

.global-nav ul li {
    display: inline-block;
    padding: 15px 20px;
    transition: all 0.3s ease-in;
}

.global-nav a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.global-nav ul li:hover {
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.05);
}

#nav-button {
    position: absolute;
    display: none;
    border-radius: 5px;
    background-color: white;
    border: 0.6px solid grey;
    width: 4rem;
    vertical-align: middle;
}

.fa-bars {
    font-size: 35px;
    font-weight: 100;
    padding: 3px;
}

#contact-me {
    margin-left: 32rem;
}

.home-image {
    background-image: url("../images/ruzgar-image.JPG");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-title-div {
    position: absolute;
    top: 45%;
    left: 30%;
}

.home-title {
    color: white;
    font-weight: 500;
    letter-spacing: 19px;
}

.home-subtitle {
    color: white;
    letter-spacing: 10px;
}

.social-bar-container {
    position: absolute;
    top: 45%;
}

.social-bar-container li {
    padding: 3px 7px;
}

.social-bar-container li i:hover {
    cursor: pointer;
}

.social-bar i {
    color: white;
    font-size: 25px;
}

.read-more {
    position: absolute;
    top: 85%;
    left: 45%;
    text-align: center;
    color: white;
    font-size: 30px;
}

.read-more .read-more-text {
    cursor: pointer;
}

/* */

.about-me-container {
    width: 100%;
    height: 40rem;
    background-color: #191919;
    color: white;
}

.about-me {
    width: 65%;
    position: relative;
    left: 17%;
}

.about-me-title {
    padding-top: 50px;
    letter-spacing: 3px;
}

.about-me-content {
    padding-top: 50px;
    letter-spacing: 1.5px;
}

.about-me-table {
    padding-top: 50px;
    padding-left: 100px;
}

.about-me-table-row {
    padding-right: 100px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.about-me-table-row li {
    padding: 3px 0px;
    font-size: 0.9em;
}

@media only screen and (max-width: 1650px) {

    .about-me-table {
        padding-left: 60px;
    }

    .about-me-table-row {
        padding-right: 60px;
    }
}

@media only screen and (max-width: 1500px) {
    #contact-me {
        margin-left: 25rem;
    }

    .about-me-table {
        padding-left: 40px;
    }

    .about-me-table-row {
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1400px) {
    .about-me-content {
        font-size: 0.9em;
    }

    .about-me-table-row h4 {
        font-size: 1.1em;
    }
    
    .about-me-table-row li {
        padding: 3px 0px;
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 1300px) {
    #contact-me {
        margin-left: 18rem;
    }

    .home-title-div {
        left: 25%;
    }

    .about-me-table {
        padding-left: 10px;
    }

    .about-me-table-row {
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1200px) {

    .about-me-container {
        height: 60rem;

    }

    .about-me-table {
        padding-left: 20px;
    }

    .about-me-table-row {
        padding-right: 20px;
    }

    
}

@media only screen and (max-width: 1100px) {

    #contact-me {
        margin-left: 14rem;
    }

    .home-title-div {
        left: 20%;
    }
}

@media only screen and (max-width: 990px) {
    header {
        padding: 0px 10px;
        background-color: white;
    }

    .global-nav a {
        color: black;
    }

    #contact-me {
        margin: 0;
    }

    .dropdown {
        display: none;
    }

    .dropdown div {
        display: block;
    }

    #nav-button {
        display: block;
        right: 5%;
    }

    .read-more {
        left: 35%;
    }

    .about-me-container {
        height: 60rem;
    }

    .about-me-table-row {
        display: block;
    }
}

@media only screen and (max-width: 650px) {
    .about-me-container {
        height: 70rem;
    }
}