* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gravity-Regular", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 40px 10px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.header-scroll {
    padding: 5px 10px;
    background-color: white;
}

.global-nav {
    list-style: none;
    position: relative;
    left: 15%;
    transition: all 0.2s ease-in-out;
}

.global-nav ul {
    margin: 0;
    padding: 0;
}

.dropdown {
    display: inline-block;
}

.dropdown div {
    display: inline-block;
}

.global-nav ul li {
    display: inline-block;
    padding: 15px 20px;
    transition: all 0.3s ease-in;
}

.global-nav a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.global-nav ul li:hover {
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.05);
}

#nav-button {
    position: absolute;
    display: none;
    border-radius: 5px;
    background-color: white;
    border: 0.6px solid grey;
    width: 4rem;
    vertical-align: middle;
}

.fa-bars {
    font-size: 35px;
    font-weight: 100;
    padding: 3px;
    cursor: pointer;
}

#contact-me {
    margin-left: 32rem;
}

.home-image {
    background-image: url("../images/ruzgar-image.JPG");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-title-div {
    position: absolute;
    top: 45%;
    left: 33%;
}

.home-title {
    color: white;
    letter-spacing: 17px;
    font-size: 2.2rem;
    font-weight: normal;
    padding: 5px 0;
}

.home-subtitle {
    color: white;
    letter-spacing: 5px;
    font-size: 1.3rem;
    font-weight: normal;
}

.social-bar-container {
    position: absolute;
    top: 45%;
}

.social-bar li {
    padding: 5px 7px;
}

.social-bar i {
    color: white;
    font-size: 1.5rem;
}

.social-bar li i:hover {
    cursor: pointer;
}

.read-more {
    position: absolute;
    top: 85%;
    left: 45%;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.read-more div {
    padding: 5px;
}

.read-more .read-more-text {
    cursor: pointer;
}

/* ABOUT ME SECTION */
.about-me-container {
    width: 100%;
    background-color: #191919;
    color: white;
}

.about-me {
    width: 60%;
    position: relative;
    left: 20%;
}

.about-me-title {
    padding-top: 40px;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 1.7rem;
}

.about-me-content {
    padding-top: 40px;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.about-me-table {
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;
}

.about-me-table-row {
    display: inline-block;
    width: 220px;
    margin: 0px 10px;
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.about-me-table-row h4{
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.about-me-table-row ul {
    padding-left: 15px;
    padding-top: 5px;
}

.about-me-table-row li {
    padding: 3px 0px;
    font-size: 0.9em;
    line-height: 1.2rem;
}

/* POPULAR REPOS SECTION */
.popular-repos-container {
    width: 100%;
}

.popular-repos {
    text-align: center;
}

/* footer section */
footer {
    width: 100%;
    background-color: #242424;
    color: white;
}

.footer-title-social-bar-inspired-container {
    padding: 80px 0;
    text-align: center;
    letter-spacing: 1.5px;
}

.footer-title-social-bar-inspired-container div {
    padding: 15px 0;
}

.footer h2 {
    font-weight: normal;
    letter-spacing: 1.5px;
    font-size: 1.7rem;
}

.footer-social-bar li {
    display: inline-block;
    font-size: 35px;
    padding: 4px;
}

.footer-social-bar i {
    color: white;
    font-size: 2.4rem;
}

.footer-inspired p {;
    font-size: 1.1rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}

.footer-nav {
    width: 100%;
    background-color: #191919;
    text-align: center;
    
}

.footer-nav li {
    display: inline-block;
    padding: 30px 80px;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1500px) {
    #contact-me {
        margin-left: 25rem;
    }

    .about-me {
        width: 70%;
        position: relative;
        left: 17%;
    }

}

@media only screen and (max-width: 1300px) {
    #contact-me {
        margin-left: 18rem;
    }

    .home-title-div {
        left: 25%;
    }

    .about-me {
        width: 75%;
        position: relative;
        left: 14%;
    }

    .about-me-table-row {
        margin: 0px 10px;
    }
}

@media only screen and (max-width: 1100px) {

    .global-nav {
        left: 10%;
    }

    #contact-me {
        margin-left: 14rem;
    }

    .home-title-div {
        left: 20%;
    }

    .footer-nav li {
        padding: 20px 40px;
    }
}

@media only screen and (max-width: 990px) {
    header {
        padding: 0px 10px;
        background-color: white;
    }

    .global-nav a {
        color: black;
    }

    #contact-me {
        margin: 0;
    }

    .dropdown {
        display: none;
    }

    .dropdown div {
        display: block;
    }

    #nav-button {
        display: block;
        right: 5%;
    }

    .read-more {
        left: 35%;
    }

    .about-me-table-row {
        display: block;
        margin: 40px 0px;
    }

    .footer-nav li {
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 650px) {
    .footer-nav li {
        padding: 20px 5px;
    }
}